/* The Modal (background) */

.my-modal {
  display: flex;
  /* this keeps the modal centered when the content (below) is set to margin: auto */
  position: fixed;
  /* Stay in place */
  z-index: 99;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.my-modal select {
  width: 100%;
}

/* The Close Button */

.my-modal-close {
  position: absolute;
  top: 5px;
  right: 10px;
  color: #aaa;
  float: right;  
  font-size: 28px;
  font-weight: bold;
}

.my-modal-close:hover, .my-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* my-modal Header */

.my-modal-header {
  position: relative;
  height: 30px;
  background-color: transparent;
  color: #000;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* my-modal Body */

.my-modal-body {
  max-width: 100%;
  margin: auto;
  padding: 10px 30px;
  z-index: 999;
}

/* my-modal Footer */

.my-modal-footer {
  height: 30px;
  background-color: transparent;
  color: #000;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* my-modal Content */

.my-modal-content {
  max-width: 90%;
  min-width: 300px;
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #4e50d8e2;
  box-shadow: 0 0 10px #fff, 0 0 10px #cacaca, 0 0 20px #a3a3a3, 0 0 30px #777777;
  animation-name: fadein;
  animation-duration: 0.4s;
  border-radius: 12px;
}

.my-modal-body>form>label, .my-modal-body>form>input {
  top: unset;
  font-size: 14px;
  color: #5264AE;
}

.my-modal-body>form>.form-select {
  margin-top: 20px;

}

.my-modal h4 {
  font-size: 1.1rem;
}

.my-modal h5 {
  font-size: 1.2rem;
}

.my-modal h6 {
  margin: 15px 0;
  font-size: 1rem;
  font-weight: bold;
  text-indent: 30px;
}

.my-modal p {
  font-size: .9rem;
  margin: 5px 0;
}

.my-modal label {
  margin-top: 10px;
}

.my-modal input {
  margin-top: 40px;
}

.my-modal .group-select,
.my-modal .group {
  margin-bottom: 10px;
}

.modal-btn-div {
  padding: 20px 0 0 0;
  display: flex;
  justify-content: space-evenly;
}

.modal-btn-div button,
.modal-btn-link {
	font-family: var(--font-Raleway);
  border: 1px solid #4e50d8e2;
  padding: 7px 14px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 0 20px 20px #4e50d8e2 inset, 0 0 0 0 #4e50d8e2;
	transition: all 150ms ease-in-out;
	text-decoration: none;
}

.modal-btn-div button:hover,
.modal-btn-link:hover {
  background-color: #fff;
  box-shadow: 0 0 5px #4e50d8e2 inset, 0 0 5px #4e50d8e2;
  color: #4e50d8e2;
}



@media (min-width: 650px) {
  .my-modal h4 {
    font-size: 1.1rem;
  }  
  .my-modal h5 {
    font-size: 1.2rem;
  }  
  .my-modal h6 {
    margin: 15px 0;
    font-size: 1rem;
    text-indent: 30px;
  }  
  .my-modal p {
    font-size: .9rem;
  }  
  .modal-btn-div {
    padding: 20px 0 0 0;
  }  
  .modal-btn-div button {
    padding: 7px 14px;
  }
}

/* Add Animation */

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}