.footer {
    align-items: center;
    /* background: rgba(129, 129, 129, 0.644); */
    background: rgba(78, 80, 216, 0.788);
    /* bottom: 0px; */
    color: white;
    display: flex;
    height: 50px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    font-size: 1.0rem;
    justify-content: space-between;
    align-content: center;
    position: relative;
    width:100%;
    text-decoration: none;
    z-index: 999;
    padding: 0 2%;
    /* margin: 50px 0 0 0; */
    -webkit-box-shadow: 0px -3px 10px 1px rgba(0,0,0,0.71);
    -moz-box-shadow: 0px -3px 10px 1px rgba(0,0,0,0.71);
    box-shadow: 0px -3px 10px 1px rgba(0,0,0,0.71);
}


.footer p {
    display: flex;
    justify-content: center;
    margin: 0 15px;

}

.footer a {
    color: white;
    text-decoration: none;
}


/* Screens larger than 320 */
@media (min-width: 700px) {
    .footer {
        font-size: 1.2rem
    }
}


/* Screens larger than 320 */
@media (min-width: 1000px) {
    .footer {
        font-size: 1.4rem
    }
}
