.navbar {
    align-items: center;
    background-color: rgba(129, 129, 129, 0.75);
    color: white;
    display: flex;
    height: 50px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    font-size: 1.4rem;
    justify-content: space-between;
    margin: 0 0 5px 0;
    position: fixed;
    width:100%;
    text-decoration: none;
    z-index: 999;
    -webkit-box-shadow: 0px 7px 10px 1px rgba(0,0,0,0.71);
    -moz-box-shadow: 0px 7px 10px 1px rgba(0,0,0,0.71);
    box-shadow: 0px 7px 10px 1px rgba(0,0,0,0.71);
}


.navbar .brand-logo, .links {
    display: flex;
    justify-content: space-between;
    margin: 0 15px;
    align-items: center;

}

.navbar .brand-logo {
    justify-content: center;
    width: 25%;

}

.navbar .links {
    display:none;
    width: 70%;
}

.logo-fmt {
    height: 50px;
    width: 50px;
}

.navbar .links a, .brand-logo a {
    color: white;
    text-decoration: none;

}

.links > .btn-link, .brand-logo > .btn-link {
    text-shadow: 0 0 1px #000,
    0 0 1px #000,
    0 0 2px #000,
    0 0 3px #000,
    0 0 5px #fff,
    /* 0 0 6px #fff; */
}

.links > .btn-link:hover, .brand-logo > .btn-link:hover {
    text-shadow: 0 0 2px #000,
    0 0 5px #000,
    0 0 10px #000,
    0 0 15px #000,
    0 0 20px #fff,
    0 0 25px #fff;
}



/* ========== */

.menu, .cross {
    display: none;
  }

.hamburger-btns {
    height: 50px;
    width: 50px;
    margin: 0 3%;
}

  .hamburger {
    background-color: gainsboro;
    color: #999;
    border: 2px solid #999;
    border-radius: 5px;
    font-size: 1.4em;
    font-weight: bold;
    margin-right: 25px;
    outline: none;
    z-index: 999;
  }

  .cross {
    background: none;
    background-color: gainsboro;
    color: #999;
    border: 2px solid #999;
    border-radius: 5px;
    font-size: 2.5em;
    font-weight: bold;
    margin-right: 25px;
    outline: none;
    z-index: 999;
    justify-content: center;
    padding: 8px;
    width: 50px;
    height: 50px;
    align-content: center;
    align-items: center;
  }

  .menu {
    z-index: 99;
    font-weight: bold;
    width: 40%;
    background-color: rgba(129, 129, 129, 0.95);
    position: fixed;
    top: 50px;
    right: 0;
    padding: 10px;
    flex-direction: column;
    text-align: center;
    -webkit-transition: display 2s; /* Safari */
    transition: display 2s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-box-shadow: 0px 7px 10px 1px rgba(0,0,0,0.71);
    -moz-box-shadow: 0px 7px 10px 1px rgba(0,0,0,0.71);
    box-shadow: 0px 7px 10px 1px rgba(0,0,0,0.71);
    border-bottom-left-radius: 5px;
  }

.menu a, .menu button {
    text-decoration: none;
    color: white;
    margin: 10px;
}

.header-slidebar {
    height: 50px;
    width: 100%;
    background: green;
  }

/* ========== */


/* Screens larger than 320 */
@media (min-width: 320px) {

  }
/* Screens larger than 1000 */
@media (min-width: 1000px) {
    .navbar .links {
        display: flex;
        width: 70%;
    }

    .menu, .cross, .hamburger, .hamburger-btns {
        display: none;
      }
  }