/*  CALENDAR -- can be removed in production*/

.calendar {
  margin: 15px;
}

.rentals {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.unavailable {
  background-color: rgba(255, 0, 0, 0.25)
}

.icon {
  font-family: 'Material Icons', serif;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

/* VARIABLES */

:root {
  --main-color: #1a8fff;
  --text-color: #777;
  --text-color-light: #ccc;
  --border-color: #eee;
  --bg-color: #f9f9f9;
  --neutral-color: #fff;
}

/* GENERAL */

* {
  box-sizing: border-box;
}

/* body {
  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5;
  color: var(--text-color);
  background: var(--bg-color);
  position: relative;
} */

calHeader {
  display: block;
  width: 100%;
  padding: 1.75em 0;
  border-bottom: 1px solid var(--border-color);
  background: var(--neutral-color);
}

calHeader #logo {
  font-size: 175%;
  text-align: center;
  color: var(--main-color);
  line-height: 1;
}

calHeader #logo .icon {
  padding-right: .25em;
}

main {
  display: block;
  margin: 0 auto;
  margin-top: 5em;
  max-width: 50em;
}

/* GRID */

.row {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.row-middle {
  align-items: center;
}

.column {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

.column-start {
  justify-content: flex-start;
  text-align: left;
}

.column-center {
  justify-content: center;
  text-align: center;
}

.column-end {
  justify-content: flex-end;
  text-align: right;
}

/* Calendar */

.calendar {
  display: block;
  position: relative;
  width: 80%;
  background: var(--neutral-color);
  border: 1px solid var(--border-color);
}

.calendar .calHeader {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 115%;
  padding: 1.5em 0;
  border-bottom: 1px solid var(--border-color);
}

.calendar .calHeader .icon {
  cursor: pointer;
  transition: .15s ease-out;
}

.calendar .calHeader .icon:hover {
  transform: scale(1.75);
  transition: .25s ease-out;
  color: var(--main-color);
}

.calendar .calHeader .icon:first-of-type {
  margin-left: 1em;
}

.calendar .calHeader .icon:last-of-type {
  margin-right: 1em;
}

.calendar .days {
  text-transform: uppercase;
  font-weight: 400;
  color: var(--text-color-light);
  font-size: 70%;
  padding: .75em 0;
  border-bottom: 1px solid var(--border-color);
}

.calendar .body .cell {
  position: relative;
  height: 5em;
  border-right: 1px solid var(--border-color);
  overflow: hidden;
  cursor: pointer;
  transition: 0.25s ease-out;
}

.calendar .body .cell:hover {
  transition: 0.5s ease-out;
}

.calendar .body .selected {
  background-color: #64c1ff;
}

.calendar .body .row {
  border-bottom: 1px solid var(--border-color);
}

.calendar .body .row:last-child {
  border-bottom: none;
}

.calendar .body .cell:last-child {
  border-right: none;
}

.calendar .body .cell .number {
  position: absolute;
  font-size: 82.5%;
  line-height: 1;
  top: .75em;
  right: .75em;
  font-weight: 700;
}

/* .calendar .body .disabled {
  color: var(--text-color-light);
  pointer-events: none;
} */

/* .calendar .body .cell .bg {
  font-weight: 700;
  line-height: 1;
  color: var(--main-color);
  opacity: 0;
  font-size: 8em;
  position: absolute;
  top: -.2em;
  right: -.05em;
  transition: .25s ease-out;
  letter-spacing: -.07em;
} */

/* .calendar .body .cell:hover .bg, .calendar .body .selected .bg {
  opacity: 0.05;
  transition: .5s ease-in;
} */

.calendar .body .column {
  flex-grow: 0;
  flex-basis: calc(100%/7);
  width: calc(100%/7);
}

.range {
  background-color: #b9e3ff;
}

.Range .DayPicker-Day {
  border-radius: 0 !important;
}

.unavailable {
  background-color: red;
}

/*  END CALENDAR */