.btn-red {
  background: #d44e4e;
  background-image: -webkit-linear-gradient(top, #d44e4e, #c26b55);
  background-image: -moz-linear-gradient(top, #d44e4e, #c26b55);
  background-image: -ms-linear-gradient(top, #d44e4e, #c26b55);
  background-image: -o-linear-gradient(top, #d44e4e, #c26b55);
  background-image: linear-gradient(to bottom, #d44e4e, #c26b55);
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  text-shadow: 1px 1px 3px #666666;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  font-size: 1rem;
  padding: 8px 16px 8px 16px;
  border: none;
  cursor: pointer;
}

.btn-red:hover {
  background: #cc5656;
  background-image: -webkit-linear-gradient(top, #cc5656, #b85f5c);
  background-image: -moz-linear-gradient(top, #cc5656, #b85f5c);
  background-image: -ms-linear-gradient(top, #cc5656, #b85f5c);
  background-image: -o-linear-gradient(top, #cc5656, #b85f5c);
  background-image: linear-gradient(to bottom, #cc5656, #b85f5c);
  text-decoration: none;
}