/* Courses.css File */
.courses {
    background-color: white;
    display: flex;
    flex-direction: column;

}

.courses h2 {
    text-align: center;
}

.courses ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.courses ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}