.tables-page-container {
  height: 100vh;
}

.main-table-container:last-child {
  padding-bottom:50px;
}

.admin-btn-array {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto 10px auto;
}

.admin-btn-array h2 {
  width: 100%;
  text-align: center;
  margin: 0 0 8px 0;
}

.admin-btn-array button {
  background-color: #4e50d8e2;
  color: #fff;
  border: 1px solid #000;
  font-size: 1rem;
  padding: 5px 7px;
  margin: 0 5px;
  cursor: pointer;
  box-shadow: 5px 5px 10px #333;
  flex-grow: 1;
  text-shadow: 0 0 2px #000,
  0 0 3px #000,
  0 0 10px #000,
  0 0 15px #000;
}

.admin-btn-array button:hover {
  background-color: #fff;
  border: 1px solid #787878;
  text-shadow: 0 0 2px #0003c4,
  0 0 3px #0003c4,
  0 0 5px #0003c4,
  0 0 10px #0003c4,
  0 0 15px #0003c4,
  0 0 20px #0003c4;
}

.admin-btn-array button:active {  
  box-shadow: 3px 3px 10px #333;
  transform: translateY(2px);
}