/* The Modal (background) */

.loading-modal {
  display: flex;
  /* this keeps the modal centered when the content (below) is set to margin: auto */
  position: fixed;
  /* Stay in place */
  z-index: 99;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: #000000;
  /* Fallback color */
  background-color: rgba(0, 110, 255, 0.39);
  /* Black w/ opacity */
}

/* my-modal Content */

.loading-modal-content {
  position: relative;
  background: transparent;
  margin: auto;
  padding: 0;
  animation-name: fadein;
  animation-duration: 0.4s;
}

/* Add Animation */

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}