


.body-container {
    background-color: white;
    padding-bottom: 50px;
}



.body-container div+.desc-heading {
    text-align: center;
    font-weight: bold;
    /* font-size: 1.3rem; */
    margin: 2em auto;
    padding: 3% 0;
    border-bottom: 3px solid #649ec6;
    /* border-bottom: 2px solid black; */
    font-style: italic;
    position: inherit;

}

/* START of black and white page card links */

.desc-heading h2 {
    font-size: 1.5rem;
}

.main-catch {
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em auto;

}

.icons {
    font-size: 11em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.main-catch .black-box, .image-box {
    border-radius: 2px;
}

.black-box {

    background-color: black;
    color: white;
    height: 100%;
    /* width: 100%; */
    max-width: 100%;
    font-size: 3em;
    padding: 3% 5%;
    text-align: center;
    text-decoration: none;
}

.black-box:hover {

    -moz-box-shadow: 0 0 3px #649ec6;
    -webkit-box-shadow: 0 0 3px #649ec6;
    box-shadow: 0 0 25px #649fc6cb;
    z-index: 999;
    cursor: pointer;
    transform: scale(1.03);

    }
.black-box:hover:nth-child(odd) {

    position: relative;
    /* bottom: 1%; */
    right: 1%;

    }
.black-box:hover:nth-child(even) {

    position: relative;
    left: 1%;

    }

.black-box h4{

   margin-bottom: 5px;
   border-bottom: 2px solid #649ec6;
   /* border-bottom: 2px solid white; */

}
.black-box p{

    font-size: 0.4em;
    padding: 5%;
    line-height: 35px;
    /* letter-spacing: 1px; */
    text-align: justify;

}

.image-box{

    background-color: white;
    color: black;
    height: 200px;
}

.row-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.row-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.row-top .image-box, .row-bottom .image-box {
    order: -1;
}

.row-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* END of black and white page card links */

#about-us-para-header {
    color: white;
    /* position: absolute; */
    position: relative;
    text-align: center;
    left: 0px;
    right: 0px;
    bottom: 160px;
    margin: 0 auto;
    font-size: 1.5rem;
    width: 150px;
    line-height: 30px;
}

.about-us {
    font-size: 2rem;
    padding: 3% 5%;
    text-align: center;
    position: relative;
    bottom: 60px;
}
.about-us h3{
    font-size: 2rem;
    margin-bottom: 5px;
    border-bottom: 2px solid #FFCE40;
    /* border-bottom: 2px solid black; */
}
.about-us p{
    font-size: 1.0rem;
    padding: 1%;
    line-height: 30px;
    letter-spacing: 0.6px;
    text-align: justify;
}

.about-us:parent {
    margin-bottom: 0;
}

.contact-email {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    justify-content: center;
    align-items: center;
}
.contact-email input{
    font-size: 0.9rem;
    margin: 0;
    justify-content: start;
}

.clipboard-icon{
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    justify-content: start;
}

.clipboard-icon button {
    border-radius: 5px;
    background-color:#adaaaa;
    text-shadow: 1px 1px 3px #666666;
    -webkit-box-shadow: 0px 1px 3px #666666;
    box-shadow: 1px 2px 5px #666666;
    border: none;
    text-decoration: none;
    margin: 5px auto;
    width: 70%;
    max-height: 50px;
    min-height: 50px;
}
.clipboard-icon button:hover {
    background: #858585;
    cursor: pointer;
}

div .clipboard-icon p {
    font-size: 1rem;
    margin: 0 auto;
}
.contact-email input, .clipboard-icon {
    min-width: 250px;
    max-width: 250px;
}



@media (min-width:450px) {
    .black-box {
        max-width: 80%;

    }
}


@media (min-width: 650px) {

    .black-box {
        max-width: 75%;
    }

    .black-box p{
        font-size: 0.5em;
        letter-spacing: 1px;
    }

    .desc-heading h2 {
        font-size: 1.9rem;
    }

    #about-us-para-header {
        bottom: 225px;
        font-size: 2.5rem;
        width: 200px;
        line-height: 40px;
    }

    .about-us h3{
        font-size: 3rem;
        margin-bottom: 5px;
        /* border-bottom: 2px solid black; */
    }

    .about-us p{
        font-size: 1.75rem;
        /* padding: 1%; */
        line-height: 35px;
        letter-spacing: 1px;
        /* text-align: justify; */
    }

    .contact-email {
        align-items: start;
    }

}


@media (min-width: 750px) {

    .black-box {
        max-width: 70%;
    }

    #parallax-container h1 {
        font-size: 2.7em;
        width: 350px;
        line-height: 60px;
    }
    .desc-heading h2 {
        font-size: 2.1rem;
    }
}


@media (min-width: 850px) {
    /* START of black and white page card links */

    .desc-heading h2 {
        font-size: 2.3rem;
    }

    .main-catch {
        display: flex;
        width: 80%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 2em auto;

    }

    .icons {
        font-size: 16em;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .main-catch .black-box, .image-box {
        border-radius: 2px;
        width: 50%;
    }


    .black-box {

        background-color: black;
        color: white;
        height: 325px;
        font-size: 3em;
        padding: 3% 5%;
        text-align: center;
        align-items: center;

    }
    .black-box h4{

    margin-bottom: 5px;
    /* border-bottom: 2px solid white; */

    }
    .black-box p{

        font-size: 0.5em;
        padding: 5%;
        line-height: 35px;
        letter-spacing: 1px;
        text-align: justify;

    }

    .image-box{

        background-color: white;
        color: black;
        height: 250px;
    }

    .row-top .image-box, .row-bottom .image-box {
        order: -1;
    }.row-middle .image-box {
        order: 1;
    }

    .row-top {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .row-middle {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .row-bottom {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    /* END of black and white page card links */
}

@media (min-width: 1000px) {
        /* START of black and white page card links */

    .desc-heading h2 {
        font-size: 2.4rem;
    }

    .main-catch {
        display: flex;
        width: 80%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 2em auto;

    }

    .icons {
        font-size: 16em;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .main-catch .black-box, .image-box {
        border-radius: 2px;
        width: 50%;
    }


    .black-box {

        background-color: black;
        color: white;
        height: 100%;
        font-size: 3em;
        padding: 3% 5%;
        text-align: center;

    }




    .black-box h4{

    margin-bottom: 5px;
    /* border-bottom: 2px solid white; */

    }
    .black-box p{

        font-size: 0.5em;
        padding: 5%;
        line-height: 35px;
        letter-spacing: 1px;
        text-align: justify;

    }

    .image-box{

        background-color: white;
        color: black;
        height: 250px;
    }

    .row-top .image-box, .row-bottom .image-box {
        order: 1;
    }.row-middle .image-box {
        order: -1;
    }

    .row-top {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .row-middle {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .row-bottom {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }



    /* END of black and white page card links */
}