/* form starting stylings ------------------------------- */

.group-select select {
    margin-top: 25px;
    background: transparent;
    width: 300px;
    border: none;
    border-bottom: 1px solid #757575;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
}

.group-select label {
    top: unset;
    font-size: 14px;
    color: #5264AE;
}

.group {
    position: relative;
    margin-bottom: 45px;
}

.group input {
    background: transparent;
}

input, textarea {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #757575;
}

textarea {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #dfe4e9;
    min-width: 300px;
    max-width: 300px;
    
}

.group-textarea label {
  margin-top: -30px;
  font-size: 14px;
  color: #5264AE;
}

input:focus, textarea:focus, select:focus {
    outline: transparent;
}

/* LABEL ======================================= */

label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

/* active state */

input:focus~label, input:valid~label {
    top: -20px;
    font-size: 14px;
    color: #5264AE;
}

input:not(:focus):invalid {
    background-color: rgba(255, 0, 0, 0.315);
}

/* BOTTOM BARS ================================= */

.bar {
    position: relative;
    display: block;
    width: 300px;
}

.bar:before, .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

/* active state */

input:focus~.bar:before,
input:focus~.bar:after,
textarea:focus~.bar:before,
textarea:focus~.bar:after {
    width: 50%;
}

/* HIGHLIGHTER ================================== */

.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

/* active state */

input:focus~.highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

/* form button */

.form-btn {
  margin-top: 15px;
  border: 1px solid #4e50d8e2;
  padding: 7px 14px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 0 20px 20px #4e50d8e2 inset, 0 0 0 0 #4e50d8e2;
  transition: all 150ms ease-in-out;
}

.form-btn:hover {
  background-color: #fff;
  box-shadow: 0 0 5px #4e50d8e2 inset, 0 0 5px #4e50d8e2;
  color: #4e50d8e2;
}

/* ANIMATIONS ================ */

@-webkit-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}