.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fff;
}

.content-container {
  flex: 1 0 auto;
  margin-top: 100px;
}

.content-container h1 {
  text-align: center;
}

.user-info-div {
  position: relative;
  width: 300px;
  margin: 50px auto 5px auto;
  padding: 20px 20px 20px 30px;
  border: 1px solid #649ec6;
  border-radius: 10px;
}

.user-info-div h3 {
  line-height: 1.2;
}

.user-info-div h3:nth-child(2) {
  font-size: 1.1rem;
}

.user-info-div h4 {
  line-height: 1.5;
}

.user-info-div h4:nth-child(3) {
  margin-top: 10px;
}

.user-info-btn-div {
  width: 300px;
  margin: auto;
  text-align: center;
}

.user-info-btn-div button {
  background: transparent;
  border: none;
  font-weight: bold;
  outline: transparent;
  text-decoration: underline;
  color: #4e50d8e2;
  cursor: pointer;
}

.user-info-btn-div button:hover {
  color: #649ec6;
}

.reservations-container, .registrations-container {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  margin: 30px auto;
}

.reservations-container h2, .registrations-container h2 {
  width: 100%;
}

.reservations-container h3 {
  font-size: 1.05rem;
}

.reservations-container h4 {
  font-size: 1.4rem;
}

.registrations-container h4 {
  font-size: 1.2rem;
}

.reservations-container h5, .registrations-container h5 {
  font-size: 0.95rem;
  padding-bottom: 15px;
}

.reservations-container p, .registrations-container p {
  font-size: .8rem;
  padding-top: 15px;
}

.reservation-card, .course-card {
  position: relative;
  width: 300px;
  margin: 5px;
  padding: 10px;
  border: 1px solid #c5c5c5;
  border-radius: 5px;
}

.reservation-card .fa-trash-alt, .course-card .fa-trash-alt {
  position: absolute;
  color: #555;
  right: 16px;
  bottom: 13px;
  cursor: pointer;
}

.reservation-card .fa-images, .course-card .fa-images {
  position: absolute;
  color: #4e50d8e2;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.reservation-modal-div {
  text-align: center;
}

.reservation-modal-data h2 {
  font-size: 1.2rem;
  padding-top: 10px;
}

.reservation-modal-data h5 {
  font-size: .8rem;
  padding-top: 10px;
}

.reservation-modal-data h4 {
  font-size: .9rem;
}

.reservation-modal-image img {
  height: 200px;
  max-width: 300px;
  padding: 5px;
  margin: auto;
  display: block;
}

.registration-modal-div {
  width: 100%;
}

.registration-modal-image img {
  display: none;
}

.registration-modal-data h3 {
  text-align: center;
}

.registration-modal-data h4 {
  font-size: 1rem;
  text-align: center;
  line-height: 1.3;
}

.registration-modal-data h5 {
  font-size: 1rem;
  text-align: center;
  padding: 10px;
  font-weight: bold;
}

.registration-modal-data p:nth-child(6) {
  line-height: 1.3;
  display: none;
}

.registration-modal-data p:nth-child(8) {
  padding-top: 10px;
}

.registration-modal-data ul {
  padding-top: 5px;
  width: 90%;
  margin: auto;
}

.registration-modal-data ul>p {
  text-decoration: underline;
}

.registration-modal-data li {
  padding: 5px;
  list-style-type: disc;
  margin-left: 30px;
}

.user-forms-container {
  width: 300px;
  margin: 30px auto;
  border: 1px solid #666;
  border-radius: 10px;
}

.user-form-div {
  padding: 20px 10px 10px 10px;
}

.user-form-div div:nth-child(2) {
  margin-top: 50px;
}

.user-form-div input {
  width: 260px;
  margin: auto;
}

.user-form-div button {
  margin: -20px 0 10px 10px;
}

.user-forms-toggle-div {
  display: flex;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.user-toggle-btn {
  width: 33.34%;
  background: #407ea8;
  border: none;
  padding: 10px 0;
  color: #fff;
}

.user-toggle-btn:nth-child(1) {
  border-top-left-radius: 8px;
}

.user-toggle-btn:nth-child(3) {
  border-top-right-radius: 8px;
}

.user-toggle-btn-light {
  opacity: .75;
}

@media (min-width: 650px) {
  .reservations-container, .registrations-container {
    width: 620px;
  }
  .reservation-modal-image img {
    height: 400px;
    padding: 15px;
  }
  .reservation-modal-data h2 {
    font-size: 1.5rem;
  }
  .reservation-modal-data h5 {
    font-size: .9rem;
  }
  .reservation-modal-data h4 {
    font-size: 1rem;
  }
  .registration-modal-image img {
    display: block;
    width: 300px;
    margin: 0 auto 5px auto;
  }
  .registration-modal-data p:nth-child(6) {
    line-height: 1.3;
    display: block;
    width: 400px;
  }
}

@media (min-width: 950px) {
  .reservations-container, .registrations-container {
    width: 930px;
  }
  .reservation-modal-image img {
    height: 500px;
  }
  .reservation-modal-data h2 {
    font-size: 1.6rem;
  }
  .reservation-modal-data h5 {
    font-size: .95rem;
  }
  .reservation-modal-data h4 {
    font-size: 1rem;
  }
}