.btn-reserve {
  height: 28px;
  font-family: Arial;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  color: #454545;
  font-weight: bold;
  background: transparent;
  padding: 4px 9px 4px 36px;
  background-image: url("./reserve2.png");
  background-position: 7px;
  background-repeat: no-repeat;
  margin-right: 10px;
  outline: transparent;
  position: relative;
}

.btn-reserve:hover {
  text-decoration: none;
}

.btn-reserve .btn-available {
  cursor: pointer;
}

.btn-unavailable {
  cursor: not-allowed;
  filter: alpha(opacity=20);
  opacity: 0.2;
}

.inactive {
  cursor: not-allowed;
  filter: alpha(opacity=20);
  opacity: 0.2;
  pointer-events: none;
}