.main-table-container {
  background: #ececec;  
  background: linear-gradient(#dadada,#f1f1f1);
  padding: 10px;
}

.rental-img {
  width: 250px;
  margin: auto;
}

.rental-img-div {
  display: inline-block;
  padding: 20px;
  margin: auto;
}

.rental-img-div > button {
  width: 100%;
  display: block;
}

.sub-table {
  width: 90%;
  margin: auto;
}

.table-title-div {
  padding: 15px 0 5px 0;
}

.table-title-div h2 {
  display: inline-block;
}

.table-title-div button {
  vertical-align: middle;
  border: none;
  outline: transparent;
  background: transparent;
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
}

.table-select select {
  border: none;
  outline: transparent;
  background-color: #dee9e5;
  border-bottom: 1px dashed #79b8a0;
  border: 1px dashed #79b8a0;
  padding: 2px 0;
  font-family: var(--font-Raleway);
  width: 100%;
}

.table-icon-div {
  text-align: center;
}

.table-icon {
  padding: 0 7px;
  cursor: pointer;
  color: #555;
}

.-headerGroups {
  border: transparent;
}

.-headerGroups > .rt-tr > .rt-th {
  border-left: 1px solid #a3a3a3;
  outline: transparent;
  font-weight: bold;
  font-size: 1rem;
  color: #fff;
  background-color: #303170;
}

.-headerGroups > .rt-tr > .rt-th:first-child {
  background-color: #303170;
  /* background: #16a086; */
  border-left: none;
}

/* .-headerGroups > .rt-tr > .rt-th:nth-child(2),
.-headerGroups > .rt-tr > .rt-th:nth-child(5) {
  background-color: #16a086;
  background: linear-gradient(to right, #5e60d8, #5e60d841);
}

.-headerGroups > .rt-tr > .rt-th:nth-child(3),
.-headerGroups > .rt-tr > .rt-th:nth-child(6) {
  background-color: #f39c11;
  background: linear-gradient(to right, #5e60d8, #5e60d841);
}

.-headerGroups > .rt-tr > .rt-th:nth-child(4),
.-headerGroups > .rt-tr > .rt-th:nth-child(7) {
  background-color: #c23a2c;
  background: linear-gradient(to right, #5e60d8, #5e60d841);
} */

.ReactTable {
  background: #f1f1f1;
}

.-header > .rt-tr > .rt-th:first-child {
  background: #5e60d8;
  border-bottom: 1px solid #a3a3a3;
}

.rt-resizable-header {
  outline: transparent;
	background-color: #5e60d8;
  color: #ffffff;
  border: 1px solid #a3a3a3;
  border-top: none;
  cursor: pointer;
}

.rt-resizable-header:hover {
	background-color: #5e60d8b7;
}

.ReactTable .rt-tbody .rt-td {
  border-right: 1px solid #fff;
}

.test-table .-filters > div > div:nth-child(2) input,
.test-table .-filters > div > div:nth-child(3) input {
  display: none;
}

.ReactTable  div.rt-td > div[contenteditable="true"] {
  background-color: #dee9e5;
  padding: 3px;
  border: 1px dashed #79b8a0;
}

/* this allows the tooltip hover effect to be visible outside the cell */
.test-table .ReactTable  div.rt-tr > div:nth-child(2),
.test-table .ReactTable  div.rt-tr > div:nth-child(3) {
  overflow: visible;
}

.table-icon-div {
  position: relative;
  overflow: visible;
}

.table-icon-inner-div {
  display: inline-block;
}

.table-tooltip {
  position: absolute;
  top: 20px;
  left: 0;
  visibility: hidden;
  font-size: .7rem;
  color: #fff;
  padding: 5px 10px;
  background-color: #5e60d8bd;
  text-align: center;
  border-radius: 5px;
  z-index: 999;
}

.fa-sync-div:hover .fa-sync-tooltip  {
  visibility: visible;
}

.fa-trash-alt-div:hover .fa-trash-alt-tooltip  {
  visibility: visible;
}

.fa-upload-div:hover .fa-upload-tooltip  {
  visibility: visible;
}

.fa-images-div:hover .fa-images-tooltip  {
  visibility: visible;
}