.rt-td input {
  font-size: unset;
  padding: unset;
  display: unset;
  width: unset;
  border: unset;
  border-bottom: unset;
}

.rt-td input:focus {
  outline: unset;
}

/* active state */

.rt-td input:focus~label,
.rt-td input:valid~label {
  top: unset;
  font-size: unset;
  color: unset;
}

.rt-td input:not(:focus):invalid {
  background-color: unset;
}

.table-btn-invis {
  border: none;
  outline: transparent;
  background: transparent;
  font-family: var(--font-Raleway);
  cursor: pointer;
  font-size: 14px;
}

.rental-img {
  width: 250px;
  margin: auto;
}

.rental-img-div {
  display: inline-block;
  padding: 20px;
  margin: auto;
}

.rental-img-div > button {
  width: 100%;
  display: block;
}