

.menu, .cross {
    display: none;
  }

  .hamburger {
    background-color: red;
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 10px;
    color: #999;
    border: 2px solid #999;
    border-radius: 5px;
    font-size: 1.4em;
    font-weight: bold;
    margin-right: 25px;
    outline: none;
    z-index: 999;
  }

  .cross {
    background: none;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 14px;
    color: #999;
    font-size: 3em;
    font-weight: bold;
    margin-right: 25px;
    outline: none;
    z-index: 999;
  }

  .menu {
    z-index: 99;
    font-weight: bold;
    width: 100%;
    background-color: #000;
    position: fixed;
    top: 75px;
    text-align: center;
  }

  .menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none;
  }

  .menu li {
    color: #afafaf;
    display: block;
    padding: 15px 0 15px 0;
    border-bottom: 1px solid #afafaf;
  }

  .menu ul a {
    text-decoration: none;
  }

  .menu li:hover {
    background-color: #155981;
    color: #afafaf;
  }

.header-slidebar {
    height: 50px;
    width: 100%;
    background: green;
  }

/* Screens larger than 320 */
@media (min-width: 320px) {

  }
/* Screens larger than 320 */
@media (min-width: 400px) {

  }