.form-style {
  background: white;
  height: 300px;
  /* border: solid black 3px; */
  /* margin: 5px;
    padding: 15px; */
  /* max-width: 500px;
    min-width: 300px; */
  /* width: 300px; */
  /* display: flex;
    justify-content: center;
    align-content: center; */
}

#formTest {
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

#waiverUpdateBtn {
  margin: unset;
  border: 1px solid #407ea8;
  padding: 7px 14px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 0 20px 20px #407ea8 inset, 0 0 0 0 #407ea8;
  transition: all 150ms ease-in-out;
}

#waiverUpdateBtn:hover {
  background-color: #fff;
  box-shadow: 0 0 5px #407ea8 inset, 0 0 5px #407ea8;
  color: #407ea8;
}

/* #waiverUpdateBtn {
    background-color: grey;
} */

.waiver-input-container {
  position: relative;
}

/* Screens larger than 320 */

@media (min-width: 700px) {}

/* Screens larger than 320 */

@media (min-width: 1000px) {}