/* ShoppingCart.css File */

/* general styling */

.body-container .shopping-cart-header {
  text-align: center;
  margin: 0 auto;
}

.chkoutDisabled {
  /* pointer-events: none; */
  cursor: not-allowed;
}