#admin-forms-container {
  width: 400px;
  margin: 50px auto;
  padding: 0;
  border: 1px solid #000;
}

.admin-form-div {
  border: 1px solid #000;
  padding: 20px 5px 20px 35px;
}

.admin-form-div > form > button[disabled] {
  opacity: .6;
}

.admin-form-div h2 {
  margin-bottom: 40px;
}

.admin-forms-toggle-div {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #000;
}

.admin-forms-toggle-div h3 {
  min-width: 100%;
  text-align: center;
  background-color: #dadada;
  border-bottom: 1px solid #000;
  color: #000;
  padding: 10px 0;
}

.admin-toggle-btn {
  width: 20%;
  flex-grow: 1;
  background-color: #000;
  color: #ddd;
  padding: 10px 0;
  border: none;
  outline: #000;
}

.admin-toggle-btn {
  border-right: 1px solid #000;
}

.admin-toggle-btn:last-child {
  border: none;
}

.admin-toggle-btn-light {
  background-color: #00000099;
}

.no-bar {
  position: unset;
  display: unset;
  width: unset;
  max-width: unset;
}

.no-bar:before, .no-bar:after {
  content: '';
  height: unset;
  width: unset;
  bottom: unset;
  position: unset;
  background: unset;
  transition: unset;
  -moz-transition:unset;
  -webkit-transition:unset;
}

.no-bar:before {
  left: unset;
}

.no-bar:after {
  right: unset;
}